@use "sass:color";
@import "../../global.scss";

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-card;
  color: $color-text-light;
  padding: $space-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-md;
  z-index: 9999;
}

.cookie-buttons {
  display: flex;
  gap: $space-sm;
}

.btn-accept {
  background-color: $color-primary2;
  color: $color-text-white;
  border: none;
  padding: $space-sm $space-md;
  border-radius: $border-radius-md;
  cursor: pointer;
  font-weight: $font-weight-semibold;

  &:hover {
    background-color: color.adjust($color-primary2, $lightness: -10%);
  }
}

.btn-decline {
  background-color: transparent;
  color: $color-text-light;
  border: 1px solid $color-text-light;
  padding: $space-sm $space-md;
  border-radius: $border-radius-md;
  cursor: pointer;

  &:hover {
    background-color: $color-background-hover;
  }
}
