@use "sass:color";
@import '../../global.scss'; 

.footer {
  width: 100%;
  background-color: $color-secondary; 
  padding: $space-xxxs $space-lg; 
  text-align: left;
  color: $color-background; 
  font-size: $font-size-sm; 

  margin-top: 0; 
  p {
    color: color.adjust($color-background, $lightness: 40%);
    font-size: $font-size-sm;
    margin-bottom: $space-sm; 
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Ensure the link is never underlined by targeting all states
.footer-link,
.footer-link:visited,
.footer-link:active,
.footer-link:hover {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: lighten($color-background, 40%); // Consistent with paragraph text
  text-decoration: none !important;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: $color-surface; // Hover to the primary orange accent color
}