@use "sass:color";
@use '../../../global.scss' as global;

.standalone-video-page {
    background-color: #4f4b4b; 
    min-height: 100vh;
    width: 100%;
    display: block; 
    padding: 20px 0; // Added some vertical padding for better spacing
    margin: 0;
    overflow-x: hidden;

    .video-master-section {
        width: 85%;
        max-width: 1200px;
        margin: 60px auto; 
        box-shadow: 0 30px 60px rgba(0,0,0,0.6);
    }

    @media (max-width: global.$breakpoint-sm) {
        padding: 0;
        
        .video-master-section {
            width: 100vw;
            margin: 25px 0; 
            box-shadow: none;
            position: relative;
        }
    }
}