// ./cardContainer.scss

.cardContainer {
    padding: 0; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    
    .imageContainer {
        max-width: 100%;
        position: relative;
        height: 350px; 
        width: 100%;  
        border-radius: 4px; 
        overflow: hidden; 
        
        .image {
            width: 100%;
            height: 100%;
            object-fit: contain; 
            border-radius: 2px;
            transition: opacity 0.6s ease-in-out;
            opacity: 1;
            cursor: pointer;
        }
    }

    .thumbnails {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.5rem;
        padding: 0 1rem;
        width: 100%;
        overflow-x: auto;

        .thumbnailContainer {
            width: 40px; 
            height: 40px;
            overflow: hidden;
            border-radius: 5px;
            margin: 0 3px;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
    }

    .infoWrapper {
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Media Queries */
    @media (max-width: 768px) {
        .imageContainer {
            height: 250px;
        }

        .thumbnails {
            margin-top: 0.5rem;
            gap: 5px; 
        }
    }

    @media (max-width: 480px) {
        .imageContainer {
            height: 180px;
        }

        .image {
            max-height: 180px;
            object-fit: contain;
        }
    }
}
